.input-box {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 40px;
    border: 2px solid black;
    border-radius: 7px;
    .input-box__input {
        // border: 2px solid black;
        // border-right: 0px solid transparent;
        // border-radius: 7px 0px 0px 7px;
        border: 0px solid transparent;
        width: 88%;
        text-indent: 5px;
    }
    .input-box__add-button {
        width: 12%;
        // border: 2px solid black;
        // border-left: 0px solid transparent;
        // border-radius: 0px 7px 7px 0px;
        border: 0px solid transparent;
        background-color: transparent;
        .add-button__circle {
            color: white;
            margin-left: 7px;
            background-color: black;
            width: 15px;
            border-radius: 50px;
        }
    }
}